# Auth
JWT_SECRET_KEY=<Your secret key>
ALGORITHM=<Your preferred algorithm>
ACCESS_TOKEN_EXPIRE_MINUTES=<Your preferred token expiration time in minutes>

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_NAME=reservoir_db
